<div class="row">
    <div class="col-md-4 p-4" *ngFor="let photo of photos">
        <div class="card card-photo" (click)="selectedCard(photo._id)">
            <div class="card-header">
                {{photo.title}}
            </div>
            <img [src]="'http://localhost:4003/' + photo.imagePath" class="img-card-top w-100">
            <div class="card-body">
                <p>{{photo.description}}</p>
            </div>
        </div>
    </div>
</div>